body {
    background-color: pink
    color: white
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ce30c6;
    color: white;
    font-family: "Dancing Script", cursive;
}